<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.7/theme-chalk/index.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./common.css">
</head>

<body>
  <div id='root'>
    <div v-for="(oneVale, index) in listData">
      <ul class="cards" v-if="true">
        <div class="item_time_placeholder bd"></div>
        <li class="item-card" v-for="(secondValue, secondKey, secondIndex) in oneVale">
          {{secondKey}}
          <el-collapse v-model="activeNames" @change="handleChange">
            <el-collapse-item class="item_time" :title="date(secondKey,timeStamp)"
              v-for="(threeValue,timeStamp,c) in secondValue" :key="threeValue.id">
              <ul class="bd">
                <div v-for="item in threeValue">
                  {{item.name}}
                </div>
              </ul>
            </el-collapse-item>
          </el-collapse>
        </li>
      </ul>
    </div>
  </div>
  <script src='https://cdn.bootcss.com/vue/2.5.16/vue.min.js'></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.7/index.min.js"></script>
  <script src="../static/utils.js"></script>

  <script>
    new Vue({
      el: '#root',
      data: {
        thisYear: '',
        listData: [],
        activeNames: ['1']
      },
      mounted() {
        this.remoteData()
        this.thisYear = new Date().getFullYear();
      },
      computed: {
        date() {
          return (val, timeStamp) => {
            return val.replace('_','') + "-" + this.timeFormat(timeStamp, 'M-D')
          }
        }
      },
      methods: {
        timeFormat(val, format) {
          return window.$utils.timeFormat(val, format)
        },
        handleChange(val) {
          console.log(val);
        },
        remoteData() {
          fetch("../static/data/activity.json")
            .then(res => res.json())
            .then(arr => this.listData = this.handleData(arr))
        },
        handleData(arr) {
          let result = []
          for (let i = arr.length - 1; i >= 0; i--) {
            const element = arr[i];
            const yearValue = '_' + element['year']
            if (result.length > 0) {
              const value = result[0]
              value[yearValue] = element['data']
              console.log(value);
            } else {
              result.push({
                [yearValue]: element['data']
              })
            }
          }
          console.log("result", result);
          return result
        }
      },
    });
  </script>
</body>

</html>
