<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.7/theme-chalk/index.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./common.css">
</head>

<body>
  <div id='root'>
    <div v-for="(oneVale, index) in listData">
      <ul class="cards" v-if="true">
        <div class="item_time_placeholder bd"></div>
        <li class="item-card" v-for="(secondValue, secondKey, secondIndex) in oneVale">
          <div v-for="(threeValue,timeStamp,c) in secondValue" :key="threeValue.id">
            <div class="item_time">{{secondKey}}-{{timeStamp | timeFormat('M-D')}}</div>
            <ul class="bd">
              <div v-for="item in threeValue">
                {{item}}
              </div>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script src='https://cdn.bootcss.com/vue/2.5.16/vue.min.js'></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.7/index.min.js"></script>
  <script src="../static/utils.js"></script>

  <script>
    new Vue({
      el: '#root',
      data: {
        thisYear: '',
        listData: [],
        activeNames: ['1']
      },
      mounted() {
        this.remoteData()
        this.thisYear = new Date().getFullYear();
      },
      computed: {
        date() {
          return (val, timeStamp) => {
            return val + "-" + this.timeFormat(timeStamp, 'M-D')
          }
        }
      },
      methods: {
        timeFormat(val, format) {
          return window.$utils.timeFormat(val, format)
        },
        handleChange(val) {
          console.log(val);
        },
        remoteData() {
          fetch("../static/data/activity.json")
            .then(res => res.json())
            .then(res => this.listData = this.handleData(res))
        },
        handleData(res) {
          let result = []
          for (const key in res) {
            const yearValue = res[key]['year']
            if (result.length > 0) {
              const value = result[0]
              value[yearValue] = res[key]['data']
            } else {
              result.push({
                [yearValue]: res[key]['data']
              })
            }
          }
          console.log(result);
          return result
        }
      },
    });
  </script>
</body>

</html>
