<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
      .b {
          width: 300px;
          padding: 16px 32px;
          border: 1px solid black;
          display: grid;
          grid-template-columns:  1fr 1fr 1fr 1fr;
          grid-template-rows: 100px 100px;
      }

      .b > div {
          border: 1px solid black;
      }
  </style>
</head>
<body>
<div class="a">
  <div class="b">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
  </div>
</div>
</body>
</html>
