<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CodePen - Petite-Vue - ToDo MVC</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!--  <link rel='stylesheet' href='https://unpkg.com/todomvc-app-css@2.4.1/index.css'>-->
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" @mounted="setupRouting"  v-cloak>
  <section class="main">
    <ul class="todo-list">
      <li v-for="todo in filteredTodos" class="todo" :key="todo.id"
          :class="{ editing: todo === editedTodo }">
        <div class="view">
          <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
        </div>
        <input class="edit" type="text" v-model="todo.title" v-effect="if (todo === editedTodo) $el.focus()"
               @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.escape="cancelEdit(todo)"/>
      </li>
    </ul>
  </section>
</div>
<!-- partial -->
<script type="module" src="./script.js"></script>

</body>
</html>
